@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    background-color: #bad1eb;
}
input
{
    background-color: transparent;
    border: 1.5px solid black;  
    border-radius: 3px;
    width: 263px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}
.box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.cont1 {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 18px -4px black;
    margin-bottom: 20px;
}

.contain {
    background-color: transparent;
    margin: 7px;
    padding: 5px;
}

h3 {
    margin: 0px 0px 4px 2px;
    color: #f9f9f9;
    text-shadow: 1px 1px 8px black;
    background-color: transparent;
    font-size: 27px;
}

button{
    color: white;
    line-height: 18px;
    padding: 7px 20px;
    background: #5e83ac;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 6% 0px 0px 90px;
    box-shadow: 2px 2px 15px -12px black;
    transition: 0.5s;
    border: 2px solid black;
    font-size: 14px;
}

button:hover{
    border: 2px solid black;
    background: white;
    box-shadow:  4px 4px 7px -4px black;
    color: #2e4865;
}

.bar{
    margin: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: #F5F5F5;
    border-radius: 5px;
    box-shadow: 2px 2px 15px -6px black;
    padding: 3px;
}
.contain2 {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.bar p{
    display: inline;
    margin: 10px;
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #a7c3e2;
}

.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 3%;
    font-size:18px;
    font-weight: 500;
}

@media only screen and (max-width: 700px) {
   .bar{
    flex-direction: column;
   }
   .contain2{
        padding-left: 10px;
   }
}